
<h1>Gizmo</h1>

<figure>
  <img id="gizmo-image" src="images/Gizmo.png" />
  <figcaption>
    Don't get him wet. Seriously. Adrian, I'm talking to you.
  </figcaption>
</figure>

<p>Gizmo is a mogwai, a cute, cuddly, adorable critter with nasty habit of spawning other Mogwais when wet.  Mogwai is Cantonese for "monster", which is exactly what happens when you let them eat after midnight.</p>

<div class="rules">
  <p>Follow the Rules:</p>
  <ol>
    <li>Don't get them wet.</li>
    <li>No food after midnight.</li>
    <li>No sunlight.</li>
  </ol>
</div>
